* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: 'Nunito', sans-serif;
}

.design-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5%;
}

.design-section h1 {
  text-align: center;
  font-size: 24px;
  margin: 4%;
}

.design-section h5 {
  text-align: center;
  font-size: 16px;
  margin: 4%;
  font-weight: lighter;
}

.design-section img {
  width: 100%;
}

.navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: small;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #6633ff;
}

li {
  list-style: none;
}

li .tour-button {
  background-color: #6633ff;
  color: white;
  border-radius: 4px 4px;
  padding: 4%;
  margin-right: 5%;
}

li a {
  margin: 5px;
}

.press-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.press-reviews .press-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10%;
}

.press-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10%;
}

img {
  height: 10%;
  width: 30%;
}

.start-dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.start-dates img {
  width: 40%;
}

.start-dates button {
  border-radius: 3px 3px 3px 3px;
  padding: 4px;
  color: #cc99ff;
  background-color: white;
  border-color: #cc99ff;
}

.compare-programs {
  margin-bottom: 10%;
  margin-top: 10%;
  background-color: #eff2f5;
}

.compare-programs button {
  color: white;
  background-color: #6633ff;
  border-radius: 6px;
  padding: 4px;
  margin: 5%;
}

.signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.compare-programs, .about-kenzie {
  text-align: center;
}

.teams {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding-top: 10%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

h4 {
  color: darkslategrey;
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
}

.student-info {
  padding: 10%;
}

.students {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 10%;
}

.icon-wrapper img {
  width: 100%;
}

.chat {
  padding: 5%;
}

.tour-button, .signup-form form input[type=submit] {
  border-radius: 3px 3px 3px 3px;
  padding: 4px;
  color: #cc99ff;
  background-color: white;
  border-color: #cc99ff;
}

@media (min-width: 550px) {
  .start-dates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .teams {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .press-reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .press-reviews img {
    height: 80%;
    width: 40%;
  }
}
/*# sourceMappingURL=style.css.map */